.signup {
  background-color: #e9dcdc;
  padding: 50px 100px 150px 100px;
}
.section {
  display: grid;
  grid-template-columns: 40% 60%;
}
.title {
  color: #002248;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 38px;
  padding-bottom: 10px;
}
.subTitle {
  color: #2d5c56;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}
.inputFields {
  display: flex;
  flex-direction: column;
}
.inputFields input {
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 20px;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #3685fb;
}
.inputFields input:focus {
  outline: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.signupButton {
  border: none;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  background-color: #3685fb;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.signupButton:hover {
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.images {
  margin-left: 150px;
  width: 600px;
}
.image1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 450px;
  width: 300px;
  border-radius: 150px;
  background-repeat: no-repeat;
  object-fit: cover;
  border: 5px solid white;
}
.image2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: 50px;
  left: -130px;
  border: 5px solid white;
  object-fit: cover;
  height: 380px;
  width: 250px;
  border-radius: 133px;
  background-repeat: no-repeat;
}
