.infoSection {
  padding: 70px 50px 150px 100px;
  background-color: #e9dcdc;
  display: flex;
}
.images {
  margin-left: 100px;
  width: 600px;
}
.image1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 450px;
  width: 300px;
  border-radius: 150px;
  background-repeat: no-repeat;
  object-fit: cover;
  border: 5px solid white;
}
.image2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  top: 50px;
  left: -130px;
  border: 5px solid white;
  object-fit: cover;
  height: 380px;
  width: 250px;
  border-radius: 133px;
  background-repeat: no-repeat;
}
.introText {
  width: 50%;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}
.subtitle {
  color: #2d5c56;
  font-weight: bold;
  font-size: 18px;
}
.title {
  padding-top: 10px;
  color: #002248;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;
}
.description {
  line-height: 1.6;
  padding-top: 10px;
  color: #6c7581;
  font-size: 18px;
}
.aboutUsCards {
  padding: 50px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 100px;
  grid-column-gap: 200px;
}

.cards {
  height: 120px;
  width: 120px;
  border: 1px solid #fec4b6;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardTitle {
  color: #3685fb;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}
.cardSubTitle {
  color: #002248;
  font-size: 14px;
}
